body {
    margin: 0px;
    font-family:monospace
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0px;
}
nav {
    text-align: center;
    background-color: #80c9ff;
}

nav h1{
    color:cornsilk;
}

#page-title {
    padding: 15px
}

.half-width {
    width: 49%;
    display: inline-block;
}